*{
	padding: 5px;
	margin: 5px;
	font-size: 14pt;
}

.panel{
	border: 2px solid blue;
	border-radius: 10px;
}

.table{
	text-align: center;
	padding: 5px;
	margin-top: 5px;
	background-color: lightblue;
}