<div>
	<h1>Employee Repository System</h1>
	<p>
		<input type="text" placeholder="Search By Name" [(ngModel)]="ValueToSearch">
	</p>
	<table border="1" width="50%" style="display:inline-block;">
		<tr>
			<th>Employee ID</th>
			<th>Employee Name</th>
			<th>Employee Address</th>
			<th>Options</th>
		</tr>
		<tr *ngFor="let emp of empList | empFilter : ValueToSearch">
			<td>{{emp.empId}}</td>
			<td>{{emp.empName}}</td>
			<td>{{emp.empAddress}}</td>
			<td>
				<a href="#" (click)="displayRec(emp)">Edit</a>
				<a href="#" (click)="displayRec(emp)">X</a></td>
		</tr>
	</table>
	<app-emp-detail [selectedEmp]='selectedEmp'></app-emp-detail>
    <app-new-emp (onSave)="	addNewEmp($event)"></app-new-emp>
</div>
